*{
    margin:0;
    padding: 0;
}

.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
}


.home_navbar{
    color: white;
    margin-left: 10px;
}


.tasks_navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: navy;
}

.home_link{
    text-decoration: none;
    color: white;
    transition: color;
    transition-duration: 500ms;
    font-size: 20px;
    font-family: -apple-system;
}


.home_link:hover{
    cursor:pointer;
    color:red;
}




.link{
    margin-right: 5px;
    text-decoration: none;
    color: white;
    transition: color;
    transition-duration: 500ms;
    font-size: 20px;
    font-family: -apple-system;
}

.link:hover{
    cursor:pointer;
    color:red;
}

.link:after{
    content:' | ';
    color: white;
}