.container{
    display: grid;
    grid-template-rows: 10% 1fr;
    min-width: 100vw;
    min-height: 100vh;
    background-color: mediumorchid;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting{
    font-family: -apple-system;
    font-size: 30px;
    font-weight: 600;
}
