.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100vw;
    min-height: 100vh;
    background-color: darkred;
}

.messages_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.affairs_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 20px;*/
}

